<div class="interactive-container offset">

    {{#settings}}
    <div class="row">

        {{#if title}}
        <div class="choloropleth_title_block">
            <div class='chartTitle' id="chartTitle">{{title}}</div>
            <div class='subTitle' id="subTitle">{{subtitle}}</div>
        </div>
        {{/if}}
        
        <div id="controls">

            {{#if election}}
            <div class="row">

               <div class="keyBox1 col33">
                   <div class="keyText">Coalition margin (%)</div>

                    <div id="keyContainer1"></div>
               </div>

               <div class="keyBox2 col33">
                   
                    <div class="keyText">Labor margin (%)</div>

                    <div id="keyContainer2"></div>

               </div>

               <div class="keyBox3 col33">

                    <div class="keyText">Others margin (%)</div>

                    <div id="keyContainer3"></div>
                   
               </div>

            </div>
            {{/if}}


            {{#if swing}}
            <div class="row">

               <div class="keyBox1 col33">
                   <div class="keyText">Coalition swing</div>

                    <div id="keyContainer1"></div>

               </div>

               <div class="keyBox2 col33">
                   
                    <div class="keyText">Labor swing</div>

                    <div id="keyContainer2"></div>

               </div>

            </div>
            {{/if}}


            <div class="row">

                {{#if dropdown}}
                <div class="selectorBox col50">

                    
                    <div class="keyText">Currently showing</div>

                    <select id="statChooser" value='{{currentIndex}}'>
                        {{#mapping:i}}
                            <option value='{{i}}'>{{display}}</option>
                        {{/mapping}}
                    </select>
                   


                </div>
                {{/if}}
                
                {{#if key}}
                <div class="keyBox col50">

                    <div class="keyText">Key</div>

                    <div id="keyContainer"></div>

                </div>
                {{/if}}

            </div>

        </div>

    </div>

    <div id="mapContainer">
            <div id="zoomIn" class="zoomButtons">+</div>
            <div id="zoomOut" class="zoomButtons">–</div>
            <div id="zoomToggle" class="zoomButtons {{#if zoomOn}}zoomUnlocked{{else}}zoomLocked{{/if}}"></div>
    </div>

    <div class="row notes">

       

            {{#if footnote}}
            <div class="row">
                {{{footnote}}}
            </div>
            {{/if}}

            {{#if source}}
                <div class="row">
                    <small>Source: {{{source}}}</small>
                </div>
            {{/if}}



    </div>

    {{/settings}}
</div>