

<div class="map__wrapper">


    {{#if isAndroidApp}}

    <div class="android_box">

        <a class="android_link" href="https://interactive.guim.co.uk/embed/iframeable/2019/03/choropleth_map_maker/proto/html/index.html?key={{key}}&modal=true" target="_blank"><div class="android_button">View the map</div></a>

    </div>

    {{/if}}


    {{#settings}}
    <div class="editorial">

        {{#if title}}
        <div class="choloropleth_title_block">
            <div class='chartTitle' id="chartTitle">{{title}}</div>
            <div class='subTitle' id="subTitle">{{subtitle}}</div>
        </div>
        {{/if}}
        
        <div id="controls">

            {{#if election}}
            <div class="row">

               <div class="keyBox1 col33">
                   <div class="keyText">Coalition margin (%)</div>

                    <div id="keyContainer1"></div>
               </div>

               <div class="keyBox2 col33">
                   
                    <div class="keyText">Labor margin (%)</div>

                    <div id="keyContainer2"></div>

               </div>

               <div class="keyBox3 col33">

                    <div class="keyText">Others margin (%)</div>

                    <div id="keyContainer3"></div>
                   
               </div>

            </div>
            {{/if}}


            {{#if swing}}
            <div class="row">

               <div class="keyBox1 col33">
                   <div class="keyText">Coalition swing</div>

                    <div id="keyContainer1"></div>

               </div>

               <div class="keyBox2 col33">
                   
                    <div class="keyText">Labor swing</div>

                    <div id="keyContainer2"></div>

               </div>

            </div>
            {{/if}}


            <div class="row">

                {{#if dropdown}}
                <div class="selectorBox col50">

                    
                    <div class="keyText">Currently showing</div>

                    <select id="statChooser" value='{{currentIndex}}'>
                        {{#mapping:i}}
                            <option value='{{i}}'>{{display}}</option>
                        {{/mapping}}
                    </select>
                   


                </div>
                {{/if}}
                
                {{#if key}}
                <div class="keyBox col50">

                    <div class="keyText" id="keyText">Key</div>

                    <div id="keyContainer"></div>

                </div>
                {{/if}}

            </div>

        </div>

    </div>

    <div class="search__container">

        <div class="searchbar__container">

            <input class="search__input" placeholder="Enter a postcode" type="text" autocapitalize="off" autocomplete="off" autocorrect="off" value='{{searchBlock}}' on-keydown='keydown'>

            <div class="c22__dropdown">
            {{#each autocompleteArray}}
            <div class="c22__listitem" on-tap="['search', this]">{{postcode}} | {{place_name}}</div>
            {{/each}}
            </div>

        </div>

    </div>

    <div id="mapContainer">
            <div id="zoomIn" class="zoomButtons">+</div>
            <div id="zoomOut" class="zoomButtons">–</div>
            <!--div id="zoomToggle" class="zoomButtons {{#if zoomOn}}zoomUnlocked{{else}}zoomLocked{{/if}}"></div-->
       <!--      <div id="tooltip">
                <div id="mainLayer"></div>
                <div id="overlay"></div>
            </div> -->
            
    </div>

    <div class="editorial notes">

        {{#if footnote}}
            <div class="row">
                {{{footnote}}}
            </div>
        {{/if}}

        {{#if source}}
            <div class="row">
                <small>Source: {{{source}}}</small>
            </div>
        {{/if}}

    </div>

    {{/settings}}

</div>
