@import "mq";

.interactive-container {

	background: #FFF;
	max-width:1200px;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;

	.chartTitle {
	    font-size: 20px;
	    line-height: 28px;
	    font-weight: 600;
	    -webkit-font-smoothing: antialiased;
	    color: #333333;
	    font-family: "GH Guardian Headline", Georgia, serif;
	    margin-bottom: 2px;
  	}

	#mapContainer {
		position: relative; 
		width:100%;
		min-height:300px;
	}

	#controls {
		margin-top: 10px;
	}

	.sa2:hover {
		opacity:0.8;
	}	

/*	.active {
		fill:#4bc6df;
	}*/

	.graticule {
		fill: none;
		stroke: #efefef;
		stroke-opacity:1;
	}

	.mesh {
		fill: none;
  		stroke: #bdbdbd;
	}
	
	.notes {
		font-family: 'Guardian Text Sans Web',Arial;
		font-size:0.9rem;
		color:#767676;
	}

	 .subTitle {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    font-family: "Guardian Egyptian Web", Georgia, serif;
  }

	.keyText {
		font-family: 'Guardian Text Sans Web',Arial;
		font-weight: bold;
		font-size:14px;
		margin-bottom:10px;
	}

	 .keyCircle {
	    width:12px;
	    height:12px;
	    border-radius: 50%;
	    display: inline-block;
	  }

	  .keySymbol{
	    width:12px;
	    height:12px;
	/*    margin-bottom: 5px;*/
	    display: inline-block;
	  }

	  .keyDiv {
	    display: inline-block;
	    margin-left:10px;
	  }

	.placeText {
		font-family: 'Guardian Text Sans Web',Arial;
		fill: #000000;
	}

	.keyLabel {
		font-family: 'Guardian Text Sans Web',Arial;
		font-size:10px;
		fill:#767676;
	}

	#statusMessage {
		position: absolute;
		top:20%;
		left:49%;
		pointer-events: none;
	}

	.zoomButtons {
		width:25px;
		height:25px;
		border-radius: 25px;
		font-size:25px;
		line-height:25px;
		background-color: #bdbdbd;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		color:#FFFFFF;
	}

	.zoomLocked {
		background-image:url('assets/imgs/locked.svg');
	}

	.zoomUnlocked {
		background-image:url('assets/imgs/unlocked.svg');
	}

	#zoomIn {
		position: absolute;
		top:20px;
		left:2%;
	}

	#zoomOut {
		position: absolute;
		top:50px;
		left:2%;

	}

	#zoomToggle {
		position: absolute;
		top:80px;
		left:2%;
		background-size: 20px 20px;
  		background-repeat: no-repeat;
  		background-position:49% 49%;
	}

	

	.btn {
			width:auto;
			margin-left:5px; 		
			border-radius: 16px;
			text-align: center;
			padding: 5px 10px;
			line-height:1em; 
			font-family: "Guardian Agate Sans", Arial, sans-serif;
			overflow:hidden;
			color: #FFFFFF;
			background-color: #bdbdbd;
			display: inline-block;
	}

	.col50 {
		float:left;
		width:48%;
		margin-left:1%; 
	}

	.col33 {
		float:left;
		width:32%;
		margin-left:1%; 
	}

	.row {
		margin-bottom:5px; 
	}

	.row:after {
		content: " "; /* Older browser do not support empty content */
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}

/*	.main-col {
		max-width: 38.75rem;
		position: relative;
		float: left;
	}
*/
	.main-col {
		max-width: 38.75rem;
		margin-left:1.25rem; 
		position: relative;
		display: block;
		float: none;
	}

	a {
	color:#005689;
	text-decoration: none !important;
	border-bottom: 0.0625rem solid #dcdcdc;
	-webkit-transition: border-color 0.15s ease-out;
	transition: border-color 0.15s ease-out;
}

a:hover {
	border-color: #6e99b3;
}

	@media (max-width: 1140px) {
	.main-col {
		margin-left:0;
		}  
	}

	@media (min-width: 1140px) {
	.main-col {
		margin-left:8.25rem;
		width:560px;
		float: left;
		}  
	}

	@media (min-width: 1300px) {
		.main-col {
			margin-left: 13.25rem;
			width:640px;
			float: left;
		} 
	}


	@media (max-width: 600px) {

	.col10, .col20, .col30,.col40, .col50, .col60, .col70, .col80, .col90 {
	width:100%;
	margin:0;
	}

	}

	#statChooser {
		opacity:1;
		margin-bottom:10px;
		float:left;
		max-width:250px;
	}

	#keyContainer {
		float: left;
	}

	.tooltip {
		background: #FFFFFF;
		max-width:200px;
		font-family: 'Guardian Text Sans Web',Arial;
		padding:10px;
		pointer-events: none;
		border: 2px #000 solid;
	}	

	.circles {
		fill: #3c373d;
	}

	.mapArea:hover {
		opacity:0.8;
	}

	.labels {

		font-size: 12px;
		pointer-events: none;

		@media (max-width: 600px) {
			font-size: 10px;
		}

		font-family: sans-serif;
		fill: #3c373d;
		text-shadow:
		    -1px -1px 0 #FFF,
		     0   -1px 0 #FFF,
		     1px -1px 0 #FFF,
		     1px  0   0 #FFF,
		     1px  1px 0 #FFF,
		     0    1px 0 #FFF,
		    -1px  1px 0 #FFF,
		    -1px  0   0 #FFF;
	}

	

}