@import "mq";
@import "fonts";
@import "palette";
@import "choropleth";
@import "search";
//@import "modal";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

// html, body {
//     background-color: #FFF;
// }

#loader {
    width: 100%;
    min-height: 300px;
    text-align: center;
}

.map__wrapper {
    width: 100%;
    display:inline-block;
    position:relative;
}

.editorial {
    width:100%;
    box-sizing:border-box;
    padding:10px;
}

.android_box {
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    bottom:0px;
    background-color:rgba(189,189,189, 0.5);
    z-index:99999;

    .android_button {
        position:relative;
        height: 40px;
        width: 140px;
        border-radius: 20px;
        background-color: black;
        color: white;
        text-align: center;
        line-height: 40px;
        font-family: 'Guardian Text Sans Web', TextSans, Arial, sans-serif;
        cursor: pointer;
        margin-top: calc(50% - 20px);
        margin-left: calc(50% - 70px);
    }
}

/*----- App fixes -----*/
.ios, .android {
    .element-inline, .element-interactive, element-showcase {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}