@import "mq";
@import "fonts";
@import "palette";
@import "choropleth";


.element-atom,
.interactive-atom {
    margin: 0 !important;
}

html, body {
    background-color: #FFF;
}

#loader {
    width: 100%;
    min-height: 300px;
    text-align: center;
}